
body, h1,h2,h3,h4,h5,p,a {
    margin: 0px;
 
}
.header_container {
    width: 100%;
    margin: 5px;
    background-color: antiquewhite;

    display: flex;
    justify-content: center;
}

.header_content {
max-width: 1200px;
background-color: rgb(178, 138, 216);

display: flex;
flex: 1;

padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
}

.menu_items {
    display: flex;
    justify-content: space-around;
    flex: 1;
    height: 50px;
    align-items: flex-start;
}